@import 'tailwindcss';

@theme {
  --font-sans: InterVariable, sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

[data-media-player] {
  --video-border-radius: 0;
}

.vds-menu-button,
.vds-airplay-button,
.vds-google-cast-button,
.vds-download-button {
  display: none !important;
}
